In [2]:
#1. Print prime numbers from 1 to 20 using a for loop.
start = int(input("enter the number "))
end   = int(input("enter the number "))
for num in range (start,end + 1):
    if num>1:
        for i in range (2, int(num**0.5)+1):
            if (num % i)  == 0:
                break
        else:
            print(num)

enter the number 1
enter the number 20
2
3
5
7
11
13
17
19

In [8]:
#2. Calculate the sum of numbers from 1 to 50 using a for loop
n = int(input("enter the range: "))
total = 0    #initialize
for i in range(1,n+1):
    total=total+i
print(total)

enter the range: 50
1275

In [10]:
#3. Print the square of numbers from 1 to 15 using a for loop
squares = []
for i in range(1,16):
    sqr = i**2
    squares.append(sqr)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [15]:
#4. Create a countdown timer that starts from 10 and counts down to 0 
#using a for loop.
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [21]:
#5. Generate the Fibonacci sequence up to the 10th term using
#a for loop.
fibonacci = [0,1]        #initialize
for i in range (0,10):
    next_term=fibonacci[-1]+fibonacci[-2]
    fibonacci.append(next_term)
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [40]:
#6. Print a multiplication table for a given number up to 10 using 
#a nested for loop.
t = int(input("enter the number: "))
for  i in range(1,11):
    print(f"{t} * {i} = {t * i}")

enter the number: 13
13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130

In [30]:
#7. Create a program that finds the factorial of a number using a 
#for loop.
factorial = 1 #initialize
s = int(input("enter the number: "))
for i in range (1, s+1):
    factorial = factorial*i
print("Factorial:",factorial)

enter the number: 5
Factorial: 120

In [41]:
#8. Write a program that prints a pattern of stars in the shape of 
#a right-angled triangle using a for loop.
for t in range (1,6):
    for y in range(t):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [18]:
#9. Create a program that checks whether a given number is prime or 
#not using a for loop.
s = int(input("enter the number "))
for i in range (2,s):
        if s % i ==0:
            print("it's not a prime number")
            break
else:
    print("it's a prime number")

enter the number 56
it's not a prime number

In [4]:
#10.Build a program that calculates the sum of digits of a given 
#number using a for loop.
n = int(input("enter the digit "))
total=0
for i in range(1, n+1):
    total=total+i
print(total)

enter the digit 12
78

In [2]:
#11.Print the first n terms of the geometric progression 2, 6, 18, 54, ... using a 
#for loop.
progression = []
current_term = int(input("enter the current term number : "))
for i in range(7):
    progression.append(current_term)
    current_term *= 3
    print(current_term)

enter the current term number : 2
6
18
54
162
486
1458
4374

In [ ]:
#12. Implement a program using nested while loops to generate a 
# multiplication table for numbers from start to end.

In [2]:
s = ['anshu','ritik','chandu','ankit']     #

In [3]:
for r in s:                                #
    print(f'{r} he is live in nagpur')

anshu he is live in nagpur
ritik he is live in nagpur
chandu he is live in nagpur
ankit he is live in nagpur

In [4]:
t = [12,13,14,15,16,17,18,19,46]

In [5]:
for s in t:
    print(f"{s} it's a number")

12 it's a number
13 it's a number
14 it's a number
15 it's a number
16 it's a number
17 it's a number
18 it's a number
19 it's a number
46 it's a number

In [6]:
a = [12,13,14,15,16,17,18,19,46]

In [7]:
for i in a:
    sqrt = i**2
    print(f"the square of {i} is {sqrt}")

the square of 12 is 144
the square of 13 is 169
the square of 14 is 196
the square of 15 is 225
the square of 16 is 256
the square of 17 is 289
the square of 18 is 324
the square of 19 is 361
the square of 46 is 2116

In [8]:
r = [1,2,34,5,67,89,7,54,82]

In [9]:
for g in r:
    cube = g**3
    print(f"the cube of {g} is {cube}")

the cube of 1 is 1
the cube of 2 is 8
the cube of 34 is 39304
the cube of 5 is 125
the cube of 67 is 300763
the cube of 89 is 704969
the cube of 7 is 343
the cube of 54 is 157464
the cube of 82 is 551368

In [10]:
squared_numbers = []
for i in r:
    sqrt = i**2
    squared_numbers.append(sqrt)
print(r)
print(squared_numbers)

[1, 2, 34, 5, 67, 89, 7, 54, 82]
[1, 4, 1156, 25, 4489, 7921, 49, 2916, 6724]

In [11]:
t = [12,45,47,48,49,46,43,42,41,24,54]

In [12]:
cube_numbers = []
for i in t:
    cube = i**3
    cube_numbers.append(cube)
print(t) 
print(cube_numbers)

[12, 45, 47, 48, 49, 46, 43, 42, 41, 24, 54]
[1728, 91125, 103823, 110592, 117649, 97336, 79507, 74088, 68921, 13824, 157464]

In [13]:
num_sqrt = dict(zip(t,cube_numbers))
print(num_sqrt)

{12: 1728, 45: 91125, 47: 103823, 48: 110592, 49: 117649, 46: 97336, 43: 79507, 42: 74088, 41: 68921, 24: 13824, 54: 157464}

In [14]:
y = [1,2,12,11,13,14,15,16,17,14,54]

In [15]:
for i in y:
    if i % 2 == 0:
        cube_number = i**3
        print(f'the cube of {i} is {cube_number}')
    else:
        print(f'it is odd number {i}')

it is odd number 1
the cube of 2 is 8
the cube of 12 is 1728
it is odd number 11
it is odd number 13
the cube of 14 is 2744
it is odd number 15
the cube of 16 is 4096
it is odd number 17
the cube of 14 is 2744
the cube of 54 is 157464

In [1]:
list(range(51))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [2]:
for i in range (0,10,2):
    sqrt = i**2
    print(f'the square of {i} is {sqrt}')

the square of 0 is 0
the square of 2 is 4
the square of 4 is 16
the square of 6 is 36
the square of 8 is 64

In [3]:
for i in range (0,50,3):
    cube = i**3
    print(f"the cube of {i} is {cube}")

the cube of 0 is 0
the cube of 3 is 27
the cube of 6 is 216
the cube of 9 is 729
the cube of 12 is 1728
the cube of 15 is 3375
the cube of 18 is 5832
the cube of 21 is 9261
the cube of 24 is 13824
the cube of 27 is 19683
the cube of 30 is 27000
the cube of 33 is 35937
the cube of 36 is 46656
the cube of 39 is 59319
the cube of 42 is 74088
the cube of 45 is 91125
the cube of 48 is 110592

In [4]:
list(range(0,51,2))

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [15]:
n = [4,5,6,7,8,9,45,42,48,5]
m = 0
for i in n:
    m = m + i
print(m)

179

In [7]:
sum(n)

179

In [19]:
w = [1,2,4,5,6,8,7,45,56,2,1,4,5,2,1]
r = 0
for i in w:
    r = r+i
print(r)

149

In [21]:
w = [1,2,4,5,6,8,7,45,56,2,1,4,5,2,1]
print('total of above list : ',sum(w))

total of above list :  149