### type casting

In [9]:
#1. Write a program that takes an integer as input and converts it into a string. Then, concatenate it with another string and print the result.
s=102
t=(str(s))
print(t)
print(type(t))

102
<class 'str'>

In [13]:
#2. Write a program that takes a numerical string as input and converts it into an integer. Perform arithmetic operations on the integer and print the results.
s="12345"
t=(int(s))
print(t)
print(type(t))

12345
<class 'int'>

In [3]:
#3. Write a program that takes a float number as input, converts it into an integer, and then prints the integers
s=445.365
t=(int(s))
print(t)
print(type(t))

445
<class 'int'>

In [5]:
#4. Write a program that takes two integers as input, divides them using the integer division operator (//), 
#converts the result into a float, and prints the float.
a = int(input("enter the number "))
b = int(input("enter the number "))
c = a//b
d = float(c)
print(d)

enter the number 12458763
enter the number 452
27563.0

In [4]:
#4. Write a program that takes two integers as input, divides them using the integer division operator (//), converts the result into a float, and prints the float.
a=102546331
b=365
c=a//b
d=float(c)
print(d)

280948.0

In [15]:
#5. Write a program that takes a comma-separated string of numbers as 
#input, converts it into a list of integers, and then calculates and
#prints the sum of the list.

['1', '23', '45', '56', '67', '78']

AttributeError: 'tuple' object has no attribute 'append'

In [14]:
#11. Write a program that takes a list of strings as input and converts each string into an integer. 
#Then, calculate and print the sum of all the integers in the list.
s = "1,2,3,4,5,6,7,8,9"
s1 = s.split(",")
s1
a = []
for i in s1:
    interger=int(i)
    a.append(interger)
print(a)
sum(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

45