In [2]:
#1. Write a Python program to calculate the length of a string.
s=(1,2,3,4,5,6)
print(len(s))

6

In [3]:
#2. Write a Python program to find out what version of Python you are using.
!python --version

Python 3.11.5

In [8]:
#3. Write a Python program to display the current date and time.
import datetime
s=datetime.datetime.now()
print(s)

2023-12-20 10:16:41.826742

In [2]:
import math

In [3]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [4]:
math.pi

3.141592653589793

In [6]:
#4. Write a Python program that calculates the area of a circle based on the radius entered by the user.
radius=int(input("enter radius "))
area_of_circle=math.pi*radius*radius
print(area_of_circle)

enter radius 50
7853.981633974483

In [18]:
#5. Write a Python program that accepts the user's first and last name and prints them in reverse order with a space between them
s=str(input("enter name " ))
x=str(input("enter last name " ))
print(x,s)

enter name ritik
enter last name talmale
talmale ritik

In [20]:
#6. How many data types are there in python? Write them.
#ans:four data types are there in python
#1:text
#2:boolean
#3:sequence
#4:mapping
#5:set
#6:numeric

In [41]:
#7. Print the data types of given inputs
s="I want to become Data Scientist."
print(type(s))
x=123
print(type(x))
y="1234"
print(type(y))
z=1.34
print(type(z))
a="hello123"
print(type(a))
n=14
n1=15
r=n<n1
print(r)
s=3
d=5
t=s>d
print(t)

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
True
False

In [9]:
#8. Write a python program to sum three numbers
s=12
t=45
r=56
x=s+t+r
print(x)

113

In [6]:
#13. x=y=z=1 ,what does it means?
x=y=z=1
print(x)
print(y)
print(z)

1
1
1

In [2]:
#14. A,b,c=”Python”,123,12.5..can I declare variables like this?
a="python"
b=123
c=12.5

In [20]:
#19. X=890 convert the data type integer into string
#Y=”125” convert the data type string into integer 
#Z=”My name is Sarthak”..can I convert the type of this string into integer? Try it ..and give reason why it didn’t convert the data type?
#A=235 convert the data type integer into float
X=890 
print(str(X))
Y="125"
print(int(Y))
Z="My name is Sarthak"
# because a string is converts a number in integer not a word line
A=235 
print(float(A))

890
125
235.0

In [23]:
#20. Take user input of type float and give input as integer…see it will accept integer
a=float(input("enter integer "))
print(a)

enter integer 235
235.0

In [4]:
#21. Take user input of type int and give input as float …see it will not accept the float input .
s=int(input("enter float "))
print(s)

enter float 235
235

In [1]:
import math

In [4]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [1]:
1+2

3

In [2]:
210124+1456977523

1457187647

In [5]:
import(dir(math))

SyntaxError: invalid syntax (3217705928.py, line 1)