In [1]:
#1.Write a python program to sum three numbers.
def sum(n,n1,n2):
    return n+n1+n2

In [4]:
sum(20,30,10)

60

In [10]:
#2. X=890 convert the data type integer into string Y=”125” convert
#the data type string into integer Z=”My name is Sarthak”..can I convert
#the type of this string into integer? Try it ..and give reason why it
#didn’tconvert the data type

Error: invalid literal for int() with base 10: 'My name is Sarthak'

<class 'type'> 890

In [18]:
#3. Using slicing, extract every second character from the string
#"abcdef"
x = "abcdef"
y = x[1::2]
print(y)

bdf

In [16]:
1+2

3

In [19]:
#4. Create a string greeting = "Good morning" and use slicing to 
#reverse the string.
greeting = "Good Morning"
reverse = greeting[::-1]
print(reverse)

gninroM dooG

In [22]:
#5. Create a variable word = "Python" and use slicing to get the
#characters "ytho".
x = "python"
y = x[1:5]
print(y)

ytho

In [25]:
#6. Create a list cities = ["New York", "Los Angeles", "Chicago",
#"Houston", "Miami"] and replace the third element with "Dallas".
cities = ["new york", "los angles", "chicago", "houston","miami"]
cities[2] = "dallas"
print(cities)

['new york', 'los angles', 'dallas', 'houston', 'miami']

In [28]:
#7. Using list slicing, reverse the list [5, 4, 3, 2, 1].
list1 = [5,4,3,2,1]
list2 = list1[::-1]
print(list2)

[1, 2, 3, 4, 5]

In [29]:
#8. Given the list numbers = [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
#, access [9,10]
num = [1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]
num1 = num[5][3:]
print(num1)

[9, 10]

In [31]:
#9. Given the string message = " Welcome to Python! ", use the strip()
#function to remove leading and trailing spaces.
message = " Welcome to Python! " 
strip = message.strip()
print(strip)

Welcome to Python!

In [32]:
#10.Create a string word = "excellent" and use the replace() function
#to replace "cell" with "cent".
word = "excellent"
word1 = word.replace("cell","cent")
print(word1)

excentent

In [ ]:
#11.Write a program that takes an integer as input, converts it into a
#float, performs some arithmetic operations involving both integers and
#floats, and prints the results.

In [ ]:
#12.Write a program that takes a numerical string as input and converts
#it into an integer. Perform arithmetic operations on the integer and
#print the results.